*{
    font-family: Arial;
    padding: 0;
}
body{ background-image: url(image/MBHS2.jpg);
    margin: 0;
    padding: 0px;
}

header{
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

nav{
    display: flex;
    justify-content: space-between;
    background-color: rgb(5, 38, 42);
    
}

nav .left .logo img {
    width:150px;
    height:100px;
    
    /* background-color: blue; */
}
nav .right{
    margin-top: auto;
    margin-bottom: auto;
}
nav .right ul {
    list-style: none;
}

nav .right ul li{
    display: inline-block;
}

nav .right ul li a,nav .right ul li span{
    cursor: pointer;
    text-decoration: none;
    color: white;
    margin-right: 10px;
}
nav .right ul li .register{
    display: none;
    padding: 0;
    position: absolute;
    width: 60px;
    height: 80px;
    background-color: rgb(40, 111, 119);
}

nav .right ul li .register ul { padding: 0;}

nav .right ul li .register ul .year{
    margin-left: auto;
    margin-right: auto;
    max-width: fit-content;
    margin-top: 15px;
}
nav .right ul li .register ul li a{
    margin-left: auto;
    margin-right: auto; 
}
nav .right ul li .register ul li {
    display: block;
}

nav .right ul > li :hover{
    color: rgb(71, 162, 172);
}

nav .right ul li span:hover +.register, nav .right ul li .register:hover{
    display: block;
}

main{
    background-color: rgb(37, 50, 50);
    margin-top: 0px;
    /* border: 1px solid red; */
    height: 100%;
}

main .name h1,main .name p{
    text-align: center;
    color: white;
    margin-top: 0;
}

.formbg{
    padding: 20px;
    background: linear-gradient(to top right, rgba(255,255,255,0.1),rgba(255,255,255,0.05));
    border-radius: 30px;
    margin-right: 10px;
    margin-left: 10px;
}

form fieldset div label,legend,p{
    color: rgb(92, 173, 182);
}

form fieldset div label{
    margin-top: 20px;
    display: inline-block;
    /* border: 1px solid red; */
}
form fieldset div input,select{
    background-color: rgba(255,255,255,0.7);
    border: none;
    border-radius: 7px;
    height: 20px;
    margin-top: 5px;
}

form fieldset{
    margin-top: 50px;
}

form .btn{
    margin-top: 15px;
    display: flex;
    justify-content: center;
}

form .btn input{
    margin-right: 10px;
    width: 70px;
    height: 30px;
    border-radius: 10px;
    background: none;
    color: white;
}
@media only screen and (max-width:347px) {
    nav{
        justify-self: normal;
    }
    nav .right ul li {
        display: block;
        margin-top: 5px;
    }   
    
}

@media only screen and (min-width:700px){
    nav .right ul li a,nav .right ul li span{
        font-size: 20px;
        margin-right: 40px;
    }
}
@media only screen and (min-width:926px) {
    nav .right ul li a,nav .right ul li span{
        font-size: 20px;
        margin-right: 40px;
    }

    .registrationform{
        display: flex;
        justify-content: center;
    }

    .formbg{
        width: 50%;
    }
    form fieldset div{
        margin-top: 15px;
        margin-left: 10px;
        display: flex;
    }

    form fieldset div label,form fieldset div input{
        margin-top: 0;
    }

    form fieldset div input,select{
        margin-top: 0;
        margin-left: 10px;
    }
    form fieldset .grid {
        display: grid;
        /* background-color: red; */
        grid-template-columns: 1fr 1fr;
        width: 100%;
    }
}

